.hero-featured-blog {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    display: block;
    left: -2px;
    pointer-events: none;
    width: calc(100% + 2px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: background-color 200ms ease-out;
  }
  * {
    z-index: 2;
    text-decoration: none;
  }
  &:hover {
    filter: sepia(20%);
    &::before {
      transition-duration: 2s;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

.hero-featured-blog {
  .card-body {
    cursor: pointer;
  }
}

.featured-post-card--loader {
  // max-height: 200px;
  width: 100%;
}
